/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', sans-serif; /* Changed to Helvetica Neue for a more modern look */
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4; /* Light background for a clean look */
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #5f5f5f;
}

ul {
    list-style: none;
}

/* Header */
header {
    background-color: #444; /* Darker header for contrast */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    color: #fff; /* White text for header links */
}

nav ul {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin-left: 20px;
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('background.jpg'); /* Path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* Assuming white text for contrast */
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* About Section */
.about {
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
    background-color: white; /* White background for sections */
    padding: 40px;
    border-radius: 8px; /* Rounded corners */
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.about p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

/* Footer */
footer {
    background-color: #444; /* Darker footer for contrast */
    color: #fff; /* White text for footer */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

footer p {
    text-align: center;
    padding: 10px;
}
